Repository stryker-mutator/stryker-net, pull requests merged in 2024-03, with the labels that each got.

#2861 deps(reporting): update mutation-testing-elements to `3.0.2`
  src/Stryker.Core/Stryker.Core/libman.json
Labels: Area: Reporters

#2888 fix: Conditional access mutations could lead to unrecoverable NullReferenceException in compilation
  src/Stryker.Core/Stryker.Core.UnitTest/Mutants/CsharpMutantOrchestratorTests.cs
  src/Stryker.Core/Stryker.Core/Compiling/CSharpRollbackProcess.cs
  src/Stryker.Core/Stryker.Core/Compiling/CsharpCompilingProcess.cs
  src/Stryker.Core/Stryker.Core/Initialisation/EmbeddedResourcesGenerator.cs
  src/Stryker.Core/Stryker.Core/Mutants/CsharpMutantOrchestrator.cs
  src/Stryker.Core/Stryker.Core/Mutants/CsharpNodeOrchestrators/ConditionalExpressionOrchestrator.cs
  src/Stryker.Core/Stryker.Core/Mutants/CsharpNodeOrchestrators/ExpressionBodiedPropertyOrchestrator.cs
  src/Stryker.Core/Stryker.Core/Mutants/CsharpNodeOrchestrators/InvocationExpressionOrchestrator.cs
  src/Stryker.Core/Stryker.Core/Mutants/CsharpNodeOrchestrators/MemberAccessExpressionOrchestrator.cs
  src/Stryker.Core/Stryker.Core/Mutants/CsharpNodeOrchestrators/NodeSpecificOrchestrator.cs
  src/Stryker.Core/Stryker.Core/Mutants/MutationContext.cs
  src/Stryker.Core/Stryker.Core/Mutants/MutationStore.cs
  src/Stryker.Core/Stryker.Core/TestRunners/VsTest/VsTestRunnerPool.cs
  src/Stryker.DataCollector/Stryker.DataCollector/CoverageCollector.cs
Labels: 📃 Documentation, Area: Compiling, Area: Mutating

#2891 fix: Forward build options to code analyzers and generators
  src/Stryker.Core/Stryker.Core/Compiling/CsharpCompilingProcess.cs
Labels: Area: Compiling
